// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#navbar-logo{
	float: left;
	font-family: 'Oleo Script', cursive;
	font-size: 20px;
	color: #00b64f;
	margin-top:10px;
	margin-left: 20px;
}

#navbar-logout{
	float:right;
	font-size: 20px;
	color: #00b64f;
	margin-top:10px;
	margin-left: 20px;
}

#home-container{
	width:100%;
	height: 700px;
}
#home-logo{
font-family: 'Oleo Script', cursive;
font-size: 90px;
color: #00b64f;
margin-top: 100px;
margin-left:auto;
margin-right:auto;
width: 50%;
text-align:center;
}

#home-slogan{
	font-family: 'Oleo Script', cursive;
	font-size: 27px;
	width: 50%;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#home-login{
	width:50%;
	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
	
}

#home-login .field{
	text-align:center;
}

#home-login h2{
	text-align:center;
}

#home-login .actions{
	text-align:center;
}

#home-login label{
	margin-bottom:-18px;
}

#home-signup-container{
	width: 50%;
	margin-top: 60px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#home-signup{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
}

#signup-container{
	width:50%;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#signup-container label{
	margin-bottom:-18px;
}

#signup-container h1{
	font-family: 'Oleo Script', cursive;
	font-size: 30px;
	color: #00b64f;
	margin-bottom: 40px;
}

#dashboard-container{
	margin-top:60px;
}

#lists-container{
	margin-top: 20px;
}

.list-container{
	margin-top: 20px;
	margin-left:10px;
	width: 300px;
	float: left;
}

.list-title{
	font-weight: bold;
	font-size:20px;
}

.list-description{
	font-style:italic;
	margin-bottom: 25px;
}

.task-create-link{
	margin-bottom:20px;
}

.tasks-container{
}

.task-container{
	width: 280px;
	margin-bottom:10px;
}

.task-mark-complete{
	float:left;
	margin-right:5px;
}

.task-completed{
	text-decoration:line-through;
}

.task-completed .task-title{
	text-decoration:line-through;
}

.task-completed .task-description{
	text-decoration:line-through;
}

.task-completed .update-task input{
	border: 1px solid green;
}

.update-task{
	
}

.update-task input{
	height:15px;
}

.task-title{
	float: left;
}

.task-description{
	float:left;
}

.task-delete-link {
	float:right;
}

.task-delete-link a{
	color:red;
}

.task-edit-link{

}

#task-create-form{
	margin-top: 60px;
}